header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.carousel-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgb(24, 22, 22));
    position: absolute;
}

.carousel-item {
    height: 600px;
}

.bg-dark-steam,
.card {
    background-color: #131823;
}

.bg-steam,
.bg-steam a,
.bg-steam::placeholder {
    background-color: #1B2838;
    color: #FFFFFF;
}

.bg-steam a:hover,
.bg-steam i:hover {
    color: #0094FF;
    cursor: pointer;
}

.img-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.navbar-nav,
.nav-icons {
    text-align: center;
    justify-content: center;
}

.form-control,
.input-group-text,
.card {
    border: none;
}
